---
http_interactions:
- request:
    method: post
    uri: https://www.hipchat.com/v2/room/2984707/notification?auth_token=UXKQxzkCMq3Ngv3AjeOIMY94ljzgGzbpqf1eyFoq
    body:
      encoding: UTF-8
      string: '{"message":"Total defect count remained the same","card":{"style":"application","format":"compact","url":"https://optimization.rigor.com/c/224148/224148","title":"Total
        defect count remained the same","icon":{"url":"http://rigor.com/favicon-96x96.png"},"attributes":[{"label":"commit","value":{"label":"a0d514e","url":"https://github.com/Rigor/labs/commit/a0d514e1e6c8320d79576aa2ea8c8ecc040da701"}},{"label":"Author","value":{"label":"Test
        User"}}],"id":"739856"},"color":"green"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/2984707/history/ff4e63d4-fb14-4bbe-bb55-d56fbd0cbbd8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1470253144'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Aug 2016 19:34:03 GMT
recorded_with: VCR 3.0.3
