---
http_interactions:
- request:
    method: post
    uri: https://www.hipchat.com/v2/room/<HIPCHAT_ROOM>/notification?auth_token=<HIPCHAT_AUTH>
    body:
      encoding: UTF-8
      string: '{"message":"Total defect count remained the same","card":{"style":"application","format":"compact","url":"https://optimization.rigor.com/c/224148/224148","title":"Total
        defect count remained the same","attributes":[{"label":"commit","value":{"label":"a0d514e1e6c8320d79576aa2ea8c8ecc040da701","url":"https://github.com/Rigor/labs/commit/a0d514e1e6c8320d79576aa2ea8c8ecc040da701"}},{"label":"Author","value":{"label":"Test
        User"}}],"id":"23dece32e46f88dea16ccfdfb59acb13"},"color":"green"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/<HIPCHAT_ROOM>/history/969854a9-e57d-4e5a-8491-8204c97fb6ad
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1471361256'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Aug 2016 15:22:35 GMT
recorded_with: VCR 3.0.3
